body, html {
    height: 100%;
    margin: 0;
    font: 15px "Lato", sans-serif;
    transition: 0.5s;
}

#main {
    transition: 0.5s;
    height: 100%;
    width: 100%;
}

#header {
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    transition: 0.5s;
}

#headerList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline;
    height: 100%;
}

.headerRight {
    float:right;
}

.headerLeft {
    float:left;
}

.headerLink {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 25px;
    text-decoration: none;
    transition: 0.5s;
}

.headerLink:hover {
    color: black;
    background-color: white;
}

.imageDiv {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}

#splashPage {
    background-image: url("../images/AuraAndDemeter.jpg");
    height: 100%;
}

#nameDiv {
    position: relative;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    transition: 0.5s;
}

#name {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

#overview {
    background-color: black;
    text-align: center;
    width: 100%;
    padding: 0;
    overflow: hidden;
    transition: 0.5s;
}

.overview {
    text-align: center;
    color: white;
    word-wrap: break-word;
    width: 50%;
    padding-left: 25%;
}

#secondImage {
    background-image: url("../images/GreenerOnTheOtherSide.jpg");
    height: 100%;
}

#contact {
    background-color: black;
    text-align: center;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    overflow: hidden;
    transition: 0.5s;
}

.contactLink {
    height: 10%;
    width: 10%;
}

.contactContainer {
    width: 33%;
    float: left;
}

.contactIcon {
    height: 10%;
    width: 10%;
}

.contactLabel {
    color: white;
}

#sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenavLink {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.5s;
}

.sidenavLink:hover, .offcanvas a:focus{
    color: black;
    background-color: white;
}
